footer.container-fluid
    .col-md-8
        h3 Services and information
    .col-md-4
        h3 Departments and policy
    hr
    .col-md-4
        ul.categories
            li
                a(href='#') Benefits
            li 
                a(href='#') Births, deaths, marriages and care
            li 
                a(href='#') Business and self-employed
            li 
                a(href='#') Childcard and parenting
            li 
                a(href='#') Citizenship and living in the UK
            li 
                a(href='#') Crime, justice and the law
            li 
                a(href='#') Disabled people
            li 
                a(href='#') Driving and transport
    .col-md-4
        ul.categories
            li
                a(href='#') Educating and learning
            li
                a(href='#') Employing people
            li
                a(href='#') Environment and countryside
            li
                a(href='#') Housing and local services
            li
                a(href='#') Money and tax
            li
                a(href='#') Passport, travel and living abroad
            li
                a(href='#') Visas and immigration
            li
                a(href='#') Working, jobs and pensions                                  
    .col-md-4
        ul.categories
            li
                a(href='#') How we work
            li
                a(href='#') Departments
            li
                a(href='#') Worldwide  
            li
                a(href='#') Policies
            li
                a(href='#') Publications
            li
                a(href='#') Announcements  
    hr    


