block content
    .jumbotron
        .container
            .col-md-3
            .col-md-9
                span.header-text
                    span My Allowance
                    br
                    span.lower for a child under 16
    #global-header-bar
        