doctype html
html
  head
    title='DLA - Department for People'
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
  body
    block content
    block footer

  include footer.jade
