extends layout
block content
  include header.jade

  main
    .container-fluid
      .col-md-12
        .row
            h1.submit_success Successfully submitted your application
            p Your application ID is <span class="app_id">#{ applicationId }</span>. Please keep this safe.
            p An email confirmation has been sent to <span class="email_conf">#{ emailConf }</span>.
            
        .row
            a(href='#') Department for the people
            br
            a(href='/', id='new_application') New Application
